body {
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    height: 100vh;
    background-color: black;
}

header, footer {
    height: 50px;
    background-color: rgb(56, 54, 54);
}

main {
    background-color: #666;
    padding: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

h3 {
    font-size: 2em;
    margin: 10px;
    font-weight: bold;
}
p {
    font-size: 1.5em;
    margin: 10px;
}


.card {
    height: 300px;
    width: 300px;
    background: #C7C7F5;
    background: linear-gradient(#C7C7F5, #8080ad);
    margin: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    box-shadow: 0 0 10px rgb(19, 19, 19);
}


#task1 {
    transform: rotate(-5deg);
}
#task2 {
    transform: rotate(5deg);
}
#task3 {
    transform: rotate(-7deg);
}
#task4 {
    transform: rotate(-9deg);
}
#task5 {
    transform: rotate(4deg);
}
#task6 {
    transform: rotate(9deg);
}
#task7 {
    transform: rotate(3deg);
}
#task8 {
    transform: rotate(-5deg);
}

#task1:hover,
#task2:hover,
#task3:hover,
#task4:hover,
#task5:hover,
#task6:hover,
#task7:hover,
#task8:hover {
    transform: rotate(0deg) scale(1.4);
    z-index: 5;
    box-shadow: 0 0 100px black;
}

#task1,
#task2,
#task3,
#task4,
#task5,
#task6,
#task7,
#task8 {
    transition: all 0.25s linear 0s;
}


  